includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - routes
    excludePaths:
        - app/Console/Kernel.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

